.node-item input{
    border : 1px solid black;
    outline : none;
    border-radius: 4px;
}
.add-node button{
    border : 1px solid green;
    border-radius: 5px;
    padding : 2px;
}
.add-node button:hover{
    background-color : lightgreen;
    scale : 1.1;
}
*{
    font-family: "Exo 2";
}